body{
    background-color: #151B21;
    font-family:Arial, Helvetica, sans-serif;
}

button{
    font-size: 20px;
    width: 10%;
    height: 10vh;
    padding: 10px;
    border: 2px solid #151B21;
    border-radius: 7px;
    text-align: center;
    cursor: pointer;
}

.btnNum{background: linear-gradient(#303136, #232323); color: #2599ea;}
.btnOp{background: linear-gradient(#005DB2, #003D77); color: #2599ea;}
.btnCalc{background: linear-gradient(#1991ff, #0070D9); color: #b2daff;}
.btnClear{background: linear-gradient(#969696, #606061); color: #bfbfbf;}

.btnNum:hover{
    background-color: #292929;
}

.opText{
    background-color: #151B21;
    border: 2px solid #1b2530;
    border-radius: 15px;
    width: 99%;
    padding: 5px;
    font-size: 30px;
    color: #606061;
    height: 10vh;
    margin-bottom: 10px;
}

.opText:focus{
    outline: none;
}

@media only screen and (min-width: 100px) {
    .numDiv{ flex-direction: row; display: flex; }
    .numDiv2{ flex-direction: row; display: flex; }

}

@media only screen and (min-width: 900px) {
    .numDiv{ flex-direction: row; display: flex; }
    .numDiv2{ flex-direction: row; display: flex; }
}